<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Perpetual Garden Services - Decorating in Kent and Sussex</title>
    <meta name="description" content="High quality and professional interior and external services across the South East.
    We offer painting, wallpapering, wood staining, plastering, rendering, stud wall erection,
    property maintenance, tiling and more"/>

    <link rel="icon" href="/images/shears.png"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <link rel="stylesheet" href="/css/lightbox.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tajawal"/>


</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div>
    <div id="home">
<div class="header starter-template">
    <div class="content gallery">
        <div class="row">

            <div class="col-md-6 middle col-md-push-3">
                <img class="img-responsive" src="/images/header.png"/>
                <h5>Covering Berks, Bucks, Hillingdon and Surrey areas</h5>
            </div>

            <div class="col-md-3 left col-md-pull-6">
                <span><img class="img-responsive" src="/images/phone.png" height="40px" width="40px"/>
                93872837492</span>
            </div>

            <div class="col-md-3 right">
                <span><img class="img-responsive" src="/images/email.png" height="40px" width="40px"/>
                93872837492</span>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="100">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="nav-home" class="active"><a href="#home">Home</a></li>
                <li id="nav-about"><a href="#about">About</a></li>
                <li id="nav-gallery"><a href="#gallery">Gallery</a></li>
                <li id="nav-services"><a href="#services">Services</a></li>
                <li id="nav-contact"><a href="#contact">Contact</a></li>
                <li id="nav-reviews"><a href="#reviews">Reviews</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="background-image background-image-1">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/images/image1.jpg"/>
            </div>

            <div class="item">
                <img src="/images/image2.jpg"/>
            </div>

            <div class="item">
                <img src="/images/image3.jpg"/>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control background-image-1" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control background-image-1" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
    </div>


<div class="background-image background-image-2">
    <!--div class="section-background"-->
        <div id="about" class="section">
            <div class="starter-template">
                <h2>Welcome to Perpetual Garden Services</h2>
                <div class="content about">
                    <p>At Perpetual Garden Service, we love your garden.
                        <br /><br />
                        We offer an honest and professional service to meet your requirements, and we will ensure you love
                        your garden too.
                        <br /><br />
                        We are friendly, approachable, and we cater for all budgets, including commercial and residential projects.
                        No project is too big or too small for us at Perpetual Garden Services.
                        <br /><br />
                        Contact us to discuss your dream garden and together we can sow the seeds to make this dream a reality.
                    </p>
                </div>
            <!--/div-->
        </div>

    </div>
</div>

<div class="background-image background-image-1">
    <div id="gallery" class="section">
        <div class="starter-template">
            <h2>Gallery</h2>
            <div class="content gallery">
                <div class="row">
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-1.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-1.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-2.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-2.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-3.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-3.jpg"/>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-4.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-4.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-5.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-5.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-6.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-6.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-image background-image-2">
    <!--div class="section-background"-->
        <div id="services" class="section">
            <div class="starter-template">
                <h2>Services</h2>
                <div class="content services">

                    <h3 class="toggle" data-toggle="maintenance">> Garden Maintenance</h3>
                    <div id="maintenance" class="service-detail">
                        We offer grass cutting, weeding, pruning, decking, tree care, general tidying and maintaining.
                    </div>

                    <hr/>

                    <h3 class="toggle" data-toggle="fencing">> Fencing and screening</h3>
                    <div id="fencing" class="service-detail">
                        We can fit and finish fencing, screening and gates to suit your requirements.
                    </div>

                    <hr/>

                    <h3 class="toggle" data-toggle="lawns">> Lawns</h3>
                    <div id="lawns" class="service-detail">
                        We offer lawn maintenance, turfing and reseeding.
                    </div>

                    <hr/>

                    <h3 class="toggle" data-toggle="sheds">> Bespoke sheds</h3>
                    <div id="sheds" class="service-detail">
                        Sheds/summer houses made to measure to suit your requirements.
                    </div>

                    <hr/>

                    <h3 class="toggle" data-toggle="gravel">> Gravel driveways</h3>
                    <div id="gravel" class="service-detail">
                        Using grid system that boasts high quality finish that holds and stabilises with no mess.
                    </div>

                    <hr/>

                    <h3 class="toggle" data-toggle="landscaping">> Landscaping</h3>
                    <div id="landscaping" class="service-detail">
                        Working with you we can help you to design a space you will love.
                    </div>

                    <hr/>

                    <h3 class="toggle" data-toggle="patios">> Patios and Pathways</h3>
                    <div id="patios" class="service-detail">
                        We can install, repair and clean all types.
                    </div>

                    <hr/>

                    <h3 class="toggle" data-toggle="driveways">> Driveway cleaning and resealing</h3>
                    <div id="driveways" class="service-detail">
                        Service offered to ensure driveway looks good and is weatherproof.
                    </div>

                    <hr/>

                </div>
            </div>
        <!--/div-->
    </div>
</div>

<div class="background-image background-image-1">
    <div id="contact" class="section">
        <div class="starter-template">
            <h2>Contact us</h2>
            <div class="content contact">
                <p>For a quote or any queries please call us on 07860681642. Alternatively, fill in the form below with
                    your enquiry and contact details, and one of our team will get in touch. <br/>
                </p>

                <form id="contact-us-form" action="/contact" method="post">
                    <input type="hidden" name="token" th:value="${session.contactToken}"/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Contact Number: **</label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" id="phone" name="phone"/>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Email address: **</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="email" name="email"/>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Subject: *</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="subject" name="subject"/>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Message: *</label>
                        </div>
                        <div class="col-md-8">
                            <textarea id="message" name="message" rows="6"></textarea>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <input id="submit" type="submit" value="Submit"/>
                            <label><img id="contact-loader" src="images/loading.gif"/></label>
                        </div>
                    </div>

                    <br/>
                    <p class="note">* Required field</p>
                    <p class="note">** Please provide at least one contact method (phone or email) to ensure we can contact
                        you.</p>

                </form>

                <div id="contact-result"></div>

            </div>
        </div>
    </div>
</div>

<div class="background-image background-image-2">
    <!--div class="section-background"-->
        <div id="reviews" class="section">
            <div class="starter-template">
                <h2>Reviews</h2>
                <div class="content">

                    <div>"Fanstastic job skimming artexed ceilings and then decorating them after. Quick, Professional and very
                        pleasant, highly recommended."
                    </div>
                    <div class="review-author">Jon beddard, Ashford kent.</div>
                    <br/>
                    <div>"Very good job, very clean and friendly. Will use again in the future."</div>
                    <div class="review-author">Sarah eastwood, Bickley kent.</div>
                    <br/>
                    <div>"Hard working, trustworthy, quick and clean job. Very pleased with result. Thanks ross :)"</div>
                    <div class="review-author">Maria hales, Ashford kent.</div>
                    <br/>

                    <form id="review-form" action="/review" method="post">

                        <input type="hidden" name="token" th:value="${session.reviewToken}"/>

                        <h3 class="submit-review">Submit a testimonial</h3>

                        <div class="row">
                            <div class="col-md-4">
                                <label>Name: *</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="name" name="name"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>Town: *</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="town" name="town"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>County: *</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="county" name="county"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>Testimonial: *</label>
                            </div>
                            <div class="col-md-8">
                                <textarea id="testimonial" name="testimonial" rows="2"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <input type="submit" value="Submit"/>
                                <label><img id="review-loader" src="images/loading.gif"/></label>
                            </div>
                        </div>

                        <br/>
                        <p class="note">* Required field</p>

                    </form>

                    <div id="review-result"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--div class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                Perpetual Garden Services
            </div>
            <div class="col-md-6">
                26 Oxen Lease, Singleton, TN23 4YT, Ashford, Kent, United Kingdom
            </div>
            <div class="col-md-2">
                07860681642
            </div>
        </div>
    </div>
</div-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/js/common.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/slideshow.js"></script>
<script src="/js/form-validation/core.js"></script>
<script src="/js/contact-us.js"></script>
<script src="/js/review-us.js"></script>

</body>

</html>